
/* ___           _ 
  |_  |         | |
    | | ___   __| |
    | |/ _ \ / _` |
/\__/ / (_) | (_| |
\____/ \___/ \__,_|
*/




* {
	font-family: sans-serif;
}

body {
	margin: auto;
	max-width: 50em;
}

header {
	text-align: center;
}

footer {
	text-align: center;
}

.boldClass {
	font-weight: bold;
}

.odyrasta {
	background-color: #0f2557;
	color: #ffffff;
	padding: .5em;
}

.divClass {
	padding: .5em;
	background-color: #0f2557;
	color: #ffffff;
}

.gridClass {
	display: grid;
	grid-template-columns: 1fr;
}

.stodvaListiUL {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
}

ul {
	list-style: none;
}

.hoverClass:hover {
	cursor: pointer;
}

.button {
	background-color: #0f2557;
	border: none;
	border-radius: 8px;
	padding: 5px 24px;
	color: #ffffff;
}
.button:hover {
	cursor: pointer;
}

.searchBar {
	border: none;
	padding: 5px;
	border-bottom: #595959 2px solid;
}
.searchBar:focus {
	outline: none;
	border-bottom: #0f2557 2px solid;
}


/* fyrir síma */
@media only screen and (max-width: 600px) {
	body {
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: 1fr;
	}

	header {
		background-color: #0f2557;

		color: white;
		padding-bottom: .5em;
		padding-top: 0;

		display: grid;
		grid-template-columns: 1fr;
	}
	header > h1 {
		font-size: 1.17em;
	}

	footer {
		text-align: center;
	}

	.fjoldiStodva {
		padding-left: .5em;
	}

	.gridClass {
		display: grid;
		grid-template-columns: 1fr;
	}

	.button {
		background-color: transparent;
		color: #ffffff;
		border: #ffffff 1px solid;
		border-radius: 8px;
		padding: 5px 24px;
	}
	.searchBar {
		border-radius: 0;
		border: none;
		padding: 5px;
		border-bottom: #ffffff 2px solid;

		background-color: transparent;
		color: #ffffff;
	}
	.searchBar:hover {
		border-bottom: #ffffff 2px solid;
	}

	.inputClass {
		display: flex;
		justify-content: center;
		padding: .25em;
	}
}