
/* ___           _ 
  |_  |         | |
    | | ___   __| |
    | |/ _ \ / _` |
/\__/ / (_) | (_| |
\____/ \___/ \__,_|
*/




* {
	font-family: sans-serif;
}

body {
	margin: auto;
	max-width: 50em;
}

header {
	text-align: center;
}

.boldClass {
	font-weight: bold;
}

.odyrasta {
	background-color: #0f2557;
	color: #bfbfbf;
	padding: .5em;
}

.divClass {
	padding: .5em;
	background-color: #28559a;
	color: #111d3d;
}

.gridClass {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.hoverClass:hover {
	cursor: pointer;
}

.button {
	background-color: #3467eb;
	border: none;
	border-radius: 8px;
	padding: 5px 24px;
}
.button:hover {
	cursor: pointer;
}

.searchBar {
	border: none;
	padding: 5px;
	border-bottom: #595959 2px solid;
}
.searchBar:focus {
	outline: none;
	border-bottom: #0f2557 2px solid;

}